In [7]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/53/81/a8b2f37788bccacb64009e8778120bca6962d1fc154613f46c945eaab91f/mysql_connector_python-8.2.0-cp312-cp312-macosx_12_0_x86_64.whl.metadata
  Downloading mysql_connector_python-8.2.0-cp312-cp312-macosx_12_0_x86_64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-macosx_10_9_universal2.whl (486 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 486.2/486.2 kB 127.3 kB/s eta 0:00:00a 0:00:01
Downloading mysql_connector_python-8.2.0-cp312-cp312-macosx_12_0_x86_64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 4.3 MB/s eta 0:00:0000:0100:01m
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector as connector

In [45]:
connection = connector.connect(user = "xxxx", password = "xxx", db = "mydb")

In [46]:
cursor = connection.cursor()

In [68]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()
print("Tables")
for i in result:
    print(i)

Tables
('Bookings',)
('Courses',)
('Customers',)
('Menu',)
('OrderDeliveryStatus',)
('Orders',)
('ordersview',)
('Staff',)

In [63]:
#validating the created tables
cursor.execute("SELECT * FROM Orders")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('OrderID', 'OrderDate', 'Quantity', 'TotalCost', 'BookingID', 'MenuID')
(1, datetime.date(2023, 12, 1), 3, Decimal('300'), 1, 1)
(2, datetime.date(2023, 12, 1), 3, Decimal('50'), 1, 3)
(3, datetime.date(2023, 12, 4), 1, Decimal('10'), 2, 4)
(5, datetime.date(2023, 12, 3), 5, Decimal('300'), 4, 2)

In [64]:
cursor.execute("SELECT * FROM Customers")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('CustomerID', 'CustomerName', 'Email', 'PhoneNumber')
(1, 'Vignesh Shaj', 'vvv@gmail.com', 121231231)
(2, 'Kota Rohith', '123@gmail.com', 345234344)
(3, 'Prajwal Madankar', 'rtw@gmail.com', 123123321)
(4, 'Canny', '12312@gmail.com', 234234234)

In [65]:
cursor.execute("SELECT * FROM Menu")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('MenuID', 'ItemName', 'ItemCost', 'TypeID')
(1, 'Onion Pakora', Decimal('5'), 1)
(2, 'Chicken 65', Decimal('8'), 1)
(3, 'Beef Kabab', Decimal('8'), 1)
(4, 'Chicken Biriyani', Decimal('12'), 2)
(5, 'Paneer Biriyani', Decimal('12'), 2)
(6, 'Lamb Curry', Decimal('13'), 2)
(7, 'Falooda', Decimal('5'), 3)
(8, 'Milkshake', Decimal('6'), 3)

In [66]:
cursor.execute("SELECT * FROM Courses")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('TypeID', 'Type')
(1, 'Starter')
(2, 'Main Course')
(3, 'Dessert')

In [70]:
cursor.execute("SELECT * FROM OrderDeliveryStatus")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('DeliveryID', 'DeliveryDate', 'Status', 'OrderID')

In [69]:
cursor.execute("SELECT * FROM Bookings")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('BookingID', 'Date', 'TableNumber', 'CustomerID', 'StaffID')
(1, datetime.date(2023, 12, 1), 3, 1, 2)
(2, datetime.date(2023, 12, 2), 1, 3, 1)
(3, datetime.date(2023, 12, 3), 2, 2, 3)
(4, datetime.date(2023, 12, 3), 1, 1, 4)
(5, datetime.date(2023, 12, 4), 4, 2, 1)
(6, datetime.date(2023, 12, 3), 3, 2, 1)
(9, datetime.date(2023, 12, 6), 6, 3, 1)
(13, datetime.date(2023, 12, 10), 2, 1, 3)

In [48]:
result = cursor.fetchall()
print(result)

[('Bookings',), ('Courses',), ('Customers',), ('Menu',), ('OrderDeliveryStatus',), ('Orders',), ('ordersview',), ('Staff',)]

In [51]:
for i in result:
    print(i)

('Bookings',)
('Courses',)
('Customers',)
('Menu',)
('OrderDeliveryStatus',)
('Orders',)
('ordersview',)
('Staff',)

In [71]:
#Join query to get customer details with cost more than 60
join_query = "SELECT C.CustomerName AS Name, C.Email AS Email, C.PhoneNumber AS Phone FROM Customers as C INNER JOIN Bookings USING (CustomerID) INNER JOIN Orders USING (BookingID) WHERE Orders.TotalCost >=60;"
cursor.execute(join_query)

In [72]:
result = cursor.fetchall()
column = cursor.column_names
print(column)
for i in result:
    print(i)

('Name', 'Email', 'Phone')
('Vignesh Shaj', 'vvv@gmail.com', 121231231)
('Vignesh Shaj', 'vvv@gmail.com', 121231231)

('Name', 'Email', 'Phone')
('New Booking Added',)

In [ ]:
# Calling a stored procedure

In [73]:
args1 = ('2023-12-14','4','2','3')
cursor.callproc('AddBooking',args1)

('2023-12-14', '4', '2', '3')

In [74]:
connection.commit()

In [75]:
cursor.execute("SELECT * FROM Bookings")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('BookingID', 'Date', 'TableNumber', 'CustomerID', 'StaffID')
(1, datetime.date(2023, 12, 1), 3, 1, 2)
(2, datetime.date(2023, 12, 2), 1, 3, 1)
(3, datetime.date(2023, 12, 3), 2, 2, 3)
(4, datetime.date(2023, 12, 3), 1, 1, 4)
(5, datetime.date(2023, 12, 4), 4, 2, 1)
(6, datetime.date(2023, 12, 3), 3, 2, 1)
(9, datetime.date(2023, 12, 6), 6, 3, 1)
(13, datetime.date(2023, 12, 10), 2, 1, 3)
(14, datetime.date(2023, 12, 3), 4, 4, 1)
(15, datetime.date(2023, 12, 14), 4, 2, 3)

In [ ]:
# The new booking is added using AdBooking Stored Procedure

In [ ]:
# Checking GetMaxQuanity

In [60]:
cursor.callproc("GetMaxQuantity")
results = next(cursor.stored_results())
dataset = results.fetchall()
print("Max Quantity")
for i in dataset:
    print(i)

Max Quantity
(5,)

In [76]:
# Checking GetValidBooking Procedure
args2 = ('2023-12-03','2','4','1')
cursor.callproc("AddValidBooking",args2)

('2023-12-03', '2', '4', '1')

In [77]:
connection.commit()

In [78]:
# table 2 was already booked - so booking should be cancelled - verifying

results = next(cursor.stored_results())
dataset = results.fetchall()
print("Max Quantity")
for i in dataset:
    print(i)

Max Quantity
('Table 2 is already booked, booking cancelled',)

In [79]:
#no change in bookings
cursor.execute("SELECT * FROM Bookings")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('BookingID', 'Date', 'TableNumber', 'CustomerID', 'StaffID')
(1, datetime.date(2023, 12, 1), 3, 1, 2)
(2, datetime.date(2023, 12, 2), 1, 3, 1)
(3, datetime.date(2023, 12, 3), 2, 2, 3)
(4, datetime.date(2023, 12, 3), 1, 1, 4)
(5, datetime.date(2023, 12, 4), 4, 2, 1)
(6, datetime.date(2023, 12, 3), 3, 2, 1)
(9, datetime.date(2023, 12, 6), 6, 3, 1)
(13, datetime.date(2023, 12, 10), 2, 1, 3)
(14, datetime.date(2023, 12, 3), 4, 4, 1)
(15, datetime.date(2023, 12, 14), 4, 2, 3)

In [80]:
# changing it to table 5 (free table)
args2 = ('2023-12-03','5','4','1')
cursor.callproc("AddValidBooking",args2)
connection.commit()

In [81]:
# new booking succesfully added

cursor.execute("SELECT * FROM Bookings")
results = cursor.fetchall()
column = cursor.column_names
print(column)
for i in results:
    print(i)

('BookingID', 'Date', 'TableNumber', 'CustomerID', 'StaffID')
(1, datetime.date(2023, 12, 1), 3, 1, 2)
(2, datetime.date(2023, 12, 2), 1, 3, 1)
(3, datetime.date(2023, 12, 3), 2, 2, 3)
(4, datetime.date(2023, 12, 3), 1, 1, 4)
(5, datetime.date(2023, 12, 4), 4, 2, 1)
(6, datetime.date(2023, 12, 3), 3, 2, 1)
(9, datetime.date(2023, 12, 6), 6, 3, 1)
(13, datetime.date(2023, 12, 10), 2, 1, 3)
(14, datetime.date(2023, 12, 3), 4, 4, 1)
(15, datetime.date(2023, 12, 14), 4, 2, 3)
(16, datetime.date(2023, 12, 4), 2, 4, 1)
(17, datetime.date(2023, 12, 3), 5, 4, 1)